doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.1/markdown-it.min.js')
    
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/javascripts/global.js')
    script(src='/socket.io/socket.io.js')
