extends layout

block content
    div
      #nav-bar
        ul.topnav                    
          li.right
            span#username #{currentUser.name}
            a(href='/logout') Logout   

    aside.centerme
      h1#theusername #{currentUser.name}
      img#profPic(src='human.jpg')
      #feedbtn
        a#feedlinkbtn(href='/feed') Feed

    article#centerme
      #postsOuter
        form#commentform(action='/postIdea', method='post')
          input#comment_title(type='text', name='comment_title', value='', tabindex='1', required='required', placeholder='Idea title...')
          br
          textarea#comment(name='comment', rows='10', tabindex='4', required='required', placeholder='Post your idea...')
          input#sub(name='submit', type='submit', value='Submit Idea')
        #add
        .my-post
          .statusbody The moment of truth
          
