extends layout

block content
    div
      div
        ul.topnav
                    
          li.right
            span#username #{user.name}
            a(href='logout') Logout
    #respond
      .backdrop
      form#commentform(action='/postIdea', method='post')
        .popup
          h3#ideahead Thank you #{currentUser.name} for sharing this
          label.required(for='comment_author') Title
          input#comment_title(type='text', name='comment_title', value='', tabindex='1', required='required')
          label.required(for='comment') Your Idea
          textarea#comment(name='comment', rows='10', tabindex='4', required='required')
          // comment_post_ID value hard-coded as 1
          input#comment_post_ID(type='hidden', name='comment_post_ID', value='1')
          input(name='submit', type='submit', value='Submit Idea')
