extends layout

block content

        div
            h1.head Terungwa's Online-Store
        div
            div
                ul.topnav
                    li
                        a.active(href='home') Home
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
                    li.dropdown
                        a.dropbtn(href='javascript:void(0)') Order
                        .dropdown-content
                            a(href='#') By facebook
                            a(href='#') By Twitter
                            a(href='#') By Instagram
                    li.right
                        a(href='login') Login
        // #primary-menu .menu-container
        .container
            h2 Welcome #{currentUser.name},  Post your Ideas
            br
            form(action='/product', method='post')
                button#btnPostIdea(type='submit') Post Idea
