extends layout

block content
        div
            h1.head Idea Box
        div
            div
                ul.topnav
                    li
                        a.active(href='home') Home
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
                    li.dropdown
                        a.dropbtn(href='javascript:void(0)') Social Media
                        .dropdown-content
                            a(href='#') facebook
                            a(href='#') Twitter
                            a(href='#') Instagram
                    li.dropdown
                        a.dropbtn(href='javascript:void(0)') Resources
                        .dropdown-content
                            a(href='#') Guides
                            a(href='#') Videos
                            a(href='#') Podcasts
                            a(href='#') Theme store
                    li.right
                        a(href='login') Login
        // #primary-menu .menu-container
        .container
            
            form(action='/signup' method='post')
                h2 Sign Up  To Post Your Ideas.
                if(message)
                    h4 #{message}
                label(for='username') Name
                br
                input#storename(type='text', name='name')
                br
                label(for='email') Email
                br
                input#email(type='email', name='email')
                br
                label(for='password') Password
                br
                input#password(type='password', name='password')
                br
                button#btnsignup(type='submit') Sign Up
                    
