body {margin: 0;}
.head{
	background-color: orange;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li a, .dropbtn {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover, .dropdown:hover .dropbtn {
	background-color: red;

}

ul.topnav li a.active {
	background-color: #4CAF50;
}

ul.topnav li.right {float: right;}

ul.topnav li.dropdown {
	display: inline-block;
}

ul.topnav .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul.topnav .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

ul.topnav .dropdown-content a:hover {
	background-color: #f1f1f1;
}

ul.topnav .dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {float: none;}
}


#btnsignup {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
}

#btnPostIdea {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0px 0px 100px;
    cursor: pointer;
}

#btnSaveProduct {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0px 0px 25px;
    cursor: pointer;
}

#price {

    margin: 10px 0px 0px 48px;
    width: 200px;
    
}

#productDescription {

    margin: 10px 0px 0px 0px;
    width: 500px;
}

#btnCancelProduct {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 0px 0px 200px;
    cursor: pointer;
}


#btnlogin {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
}

.container {
        width: 500px;
        clear: both;
        margin: 150px 250px 150px 500px;
}
.container input {
        width: 50%;
        clear: both;
        padding: 12px 20px;
}

/*
  Comment section
*/

    #respond {
  margin-top: 40px;
  color: white;
}


.required {
  margin-left: 300px;
}input[type="submit"] {

  margin-left: 300px;
}

#ideahead {
  margin-left: 300px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  margin-bottom: 10px;
  margin-left: 300px;
  display: block;
  width: 25%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}

.backdrop {
  width: 50%;
  height: 50%;
  background-color: #777777;
}

.popup {
  height: -webkit-calc(100% - 100px);
  width: 50%
  top: -moz-calc(50% - 200px);
  top: -webkit-calc(50% - 200px);
  top: calc(50% - 200px);
  background: #333;
}

#username {
  color: white;
}

#comment {
  height: 50px;
}
/*
  Global Feed
*/


        #feed {
          margin-left: 400px;
          margin-top: 100px;
        }

    .test {
      border-left-style: solid;
      border-left-width: 5px; 
      border-top-style: medium;
      background-color: #dcdcdc;
      width: 50%;
    }
  button#dislike {  
      color: white;
      background-color: blue;
      border: none;
      padding: 10px 10px;
      text-align: center;
      cursor: pointer;
      background-color: #008CBA;
    }

    button#like {  
      color: white;
      background-color: blue;
      border: none;
      padding: 10px 10px;
      text-align: center;
      cursor: pointer;
      background-color: #008CBA;
    }

    button#submit {  
      color: white;
      background-color: blue;
      border: none;
      padding: 10px 10px;
      text-align: center;
      cursor: pointer;
      background-color: #008CBA;
    }



    #dislike {
      margin-left: 50px;
    }

    #likecount {
      padding-left: 5px;
    }

    #dateposted {
      margin-top: 5px;
    }

    #commentdate {
      margin-left: 8px;
    }

    #comment {
      margin-left: 15px;
    }
    
    a {
      color: red;
    }
    #ideaTitle {
      color: blue;
    }
    #ideaBody {
      color: yellow;
    }