
/***** WELCOME AND LOGIN PAGE *******/
body {margin: 0;}
.head{
	background-color: orange;
}

#nav-bar {
      overflow: hidden;
      background-color: #09c;
    }

ul.topnav {
      display: block;
      color: white;
      margin: 0;
    }

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

ul.topnav li a:hover {
	background-color: red;

}

ul.topnav li a.active {
	background-color: #4CAF50;
}

ul.topnav li.right {float: right;}

ul.topnav li {
	display: inline-block;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {float: none;}
}


#btnsignup, #btnlogin {
  width: 250px;
  border: none;
  padding: 10px 10px;
  text-decoration: none;
  margin: 8px 0px;
  cursor: pointer;
}

#btnsignup:hover {
  background-color: green;
}

#btnPostIdea {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 0px 0px 100px;
  cursor: pointer;
}

.container{
    width:800px;
    margin:5px auto;
    padding: 20px;
    width:50%;
  }
.container input {
  width: 50%;
  padding: 12px 20px;
  height: 5px;
}

#sign-up, #sign-in, #other-signin, #sign-in-a {
    text-align: center;
    padding-bottom: 10px;
}

#sign-up, #sign-in {
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
}

#btnlogin:hover {
  background-color: green;
}

#signin-facebook-btn:hover {
  background-color: blue;
}

#signin-google-btn:hover {
  background-color: red;
}

button{
  height: 30px;
  margin-bottom: 10px;
  width: 250px;
  border:none;
  cursor: pointer;
}


/*
  ********* PROFILE SECTION **********
*/


#username {
  color: white;
}

#comment, #comment_title {
  margin-top: 8px;
  margin-left: 4px;
}

.centerme {
  text-align:center;
}
img {
  vertical-align: middle;
}

#theusername{color:#D2D8BA;}

#profPic {width: 120px; height: 120px; margin-bottom: 14px}

#feedbtn{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#feedlinkbtn{
  width:200px;
  margin-top: 10px;
  border:2px solid #46b8da;
  color:#045;
  font-family: inherit;
  font-weight: bold;
  padding:5px;
  text-decoration: none;
  text-align: center;
}

#feedlinkbtn:hover{
  cursor:pointer;
  background:#09c;
  color: #fff;  
}

#sub {
  border:0px;
  background-image: linear-gradient(to bottom, #FDFDFD, #6F6F6F);
  border-radius: 3px;
  padding: 6px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 8px;
}

/*****GLOBAL FEED *******/


.feed, #postsOuter {
    width:100%;
    max-width:500px;
    margin:0 auto;
    border: 1px solid #2C3C1B;
    -webkit-box-shadow: 0 2px 10px #2B2B2B;
    -moz-box-shadow: 0 2px 10px #2B2B2B;
    box-shadow: 0 2px 10px #2B2B2B;
    background: #8cc84b;
    padding: 10px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:20px;
    border-bottom: 0;
  }

.test, .post, .my-post {
  color: white;
  display:inline-block;
  background: #46483e;
  min-height:68px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 13px;
  min-height: 64px;
  border-bottom: 1px solid rgba(42, 48, 41, 0.8);
  padding-left: 0px;
  padding-right: 0px;
  width: 100%
  }

button#dislike, #like {  
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  width: 70px;
  margin-top: 1px;
}

#dislike {
  margin-left: 175px;
}

#like:hover {  
  background-color: blue;
}

#dislike:hover {
  background-color: red;
}

#submit {  
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
}

#submit:hover {
  background-color: green;
}


#likecount {
  padding-left: 5px;
}

#dateposted {
  margin-top: 5px;
}

#commentdate {
  margin-left: 8px;
}

#commentidea {
  margin-left: 15px;
}

.feed-link, .linkshowlikes, .linkshowdislikes, .feed-comment {
  text-decoration: none;
  color: black;
}

#ideaTitle {
  color: white;
}
#ideaBody {
  color: white;
}

#comment_title {
  color: black;
}
.likesCount {
  color:black;
}

.ideacomment, #comment {
  width: 86%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgb(155, 155, 155);
  width: 75%;
  float: left;
  max-width: 75%;
  min-width: 75%;
  height: 36px;
  max-height: 36px;
  min-height: 36px;
}

.sub {
  border:0px;
  background-image: linear-gradient(to bottom, #FDFDFD, #6F6F6F);
  border-radius: 3px;
  padding: 6px;
  vertical-align: middle;
  margin-left: 10px;
}

.submit {
  width: 500px;
  width:50%;
  margin: 10px auto;
  text-align: center;
}